# Variáveis para docker compose (copie para .env na pasta frota-tms)
POSTGRES_PASSWORD=frota_change_me_agora
JWT_SECRET=troque-este-jwt-secret-agora-32chars-min
JWT_EXPIRES_IN=8h
CORS_ORIGIN=*
PORT=4000

# Primeiro start apenas:
# SEED_ON_START=true
# FORCE_SEED=true
SEED_ON_START=false
FORCE_SEED=false
